$font-size-base:          14px !default;
$font-family-sans-serif:  "Lato", Helvetica, Arial, sans-serif ;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$navbar-height: 140px;
$navbar-default-bg: #fff;
$navbar-default-link-active-bg: #32B6C3;
$navbar-default-link-active-color: #fff;
$navbar-default-link-color: #333;
$navbar-default-link-hover-color:#777;
// $navbar-padding-vertical: 20px;
$navbar-padding-vertical: (($navbar-height - $line-height-computed) / 6);
