/*main app file  */

@import url('http://fonts.googleapis.com/css?family=Calibri:400,300,700,900');
@import "variables";
@import "bootstrap";
@import "bootstrap/theme";
@import "font-awesome";
@import "typography";

/* @import "theme"; */
$fa-font-path: "../fonts" !default;

$primary-background-color: #32B6C3;
$highlight-color: #fff;
$footer-height: 60px;
.hide {
	display: hidden;
}

h3 {
	font-weight: 400;
	font-size: 150%;
	color: $primary-background-color;
}

h5{
	color: $primary-background-color;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/****************************
// Navigation / topbar
*****************************/

.topbar {
	text-transform: uppercase;
	margin-bottom: 5px;
	color: #333;
	font-size: 17px;
	// display:  block;
	// box-sizing: border-box;
	.navbar-brand {
		padding: 0px;
	}
	img {
		margin-top: 2px;
		margin-left: -2px;
		width: 220px;
	}
	.navbar-nav {
		margin: ($navbar-padding-vertical) (-$navbar-padding-horizontal);
		font-weight: 500;
		white-space: nowrap;
		> .active > a {
			color: $highlight-color;
		}
	}
}
.logosize{
	width: 220px;
	height: 108px;
}
.navbar-default {
	box-shadow: none;
	border-color: $highlight-color;
}


/****************************
// Footer code
*****************************/

footer {
	background-color: $primary-background-color;
	color: $highlight-color;
	display: flex;
	width: 100%;
	height: $footer-height;
	position: fixed;
	bottom: 40px;
	margin: 0px;
	padding: 0 20px 0 20px;
	.round-shell {
		/* display: inline-block; */
		background-color: $primary-background-color;
		border-radius: 50%;
		min-height: 125px;
		min-width: 125px;
		text-align: center;
		vertical-align: middle;
		margin: -33px 30px 0 0;
		font-weight: 200;
		h4 {
			font-size: 125%;
			margin-bottom: 0px;
			padding-top: 30px;
		}
		p {
			line-height: 25%;
			margin-top: 10px;
		}
	}
	ul {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		list-style-type: none;
		left: 0px;
	}
	ul li {
		flex-grow: 1;
		flex-basis: 1;
		padding: 2px;
		vertical-align: middle;
		a {
			&:focus,
			&:hover {
				color: $navbar-default-link-hover-color;
				text-decoration: none;
			}
		}
	}
	.footer-list-icon {
		display: inline-block;
		color: $highlight-color;
		font-size: 35px;
		text-decoration: none;
		&:focus,
		&:hover {
			color: $navbar-default-link-hover-color;
			text-decoration: none;
		}
	}
	.footer-list-text {
		margin-top: -($footer-height / 3);
		padding-left: 6px;
		color: $highlight-color;
		text-decoration: none;
		vertical-align: middle;
		&:focus,
		&:hover {
			color: $navbar-default-link-hover-color;
			text-decoration: none;
		}
	}
}

//Hide the footer text in small screens, show only icons
@media screen and (min-width: 816px) {
	.footer-list-text {
		display: inline-block;
	}
	.mobile-landing-page{
		display: none;
	}
}
//Hide the footer text in medium screens, show only icons
@media screen and (min-width: 481px) and (max-width: 815px) {
	.footer-list-text {
		display: none;
	}
	.mobile-landing-page{
		display: none;
	}
}
//Hide the footer text in small screens, show only icons
@media screen and (min-width: 0px) and(max-width : 480px) {
	.parallax{
		display: none;
	}
	footer{
		display: none;
	}
	.mobile-landing-page{
		display: block;
	}
}

/****************************
// page containers
*****************************/

#services, #stories, #about, #contact{
	margin: 150px auto;
	padding: auto;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

/****************************
// Parallax container
// From view-source:http://keithclark.co.uk/articles/pure-css-parallax-websites/demo3/
*****************************/

.parallax {
	-webkit-perspective: 300px;
	perspective: 300px;
	height: 500px;
	/* fallback for older browsers */
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 150px 0 0 0;
	padding: 0px;
	box-sizing: border-box;
	bottom: 0;
}

.parallax__group {
	position: relative;
	height: 500px;
	/* fallback for older browsers */
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.parallax__layer--fore {
	-webkit-transform: translateZ(90px) scale(.7);
	transform: translateZ(90px) scale(.7);
	z-index: 1;
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	z-index: 4;
}

.parallax__layer--back {
	-webkit-transform: translateZ(-300px) scale(2);
	transform: translateZ(-300px) scale(2);
	z-index: 3;
}

.parallax__layer--deep {
	-webkit-transform: translateZ(-600px) scale(3);
	transform: translateZ(-600px) scale(3);
	z-index: 2;
}

.title {
	text-align: left;
	position: absolute;
	color: $primary-background-color;
	left: 200px;
	top: 20%;
	width: 400px;
	padding-left: 15px;
	padding-top: 50px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.text {
	text-align: left;
	position: absolute;
	left: 200px;
	top: 20%;
	width: 400px;
	padding-left: 15px;
	padding-top: 200px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#group2 {
	z-index: 3;
	/* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {
	// background: rgb(123,210,102);
	background-image: url("../assets/images/landingPage/home-bg.png");
	background-size: cover;
}

#group3 {
	z-index: 4;
	/* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {
	// background: rgb(153,216,101);
	background-image: url("../assets/images/landingPage/laser-eye-surgery.jpg");
	background-size: cover;
}

#group4 {
	z-index: 2;
	/* slide under group 3 and 5 */
}

#group4 .parallax__layer--deep {
	// background: rgb(184,223,101);
	background-image: url("../assets/images/landingPage/dr1.jpg");
	background-size: cover;
}

#group5 {
	z-index: 3;
	/* slide over group 4 and 6 */
}

#group5 .parallax__layer--base {
	// background: rgb(214,229,100);
	background-image: url("../assets/images/landingPage/Medium.jpg");
	background-size: cover;
}

/****************************
// EHC Card
*****************************/

.ehc-card{
	// common card styles
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	// elevation 1 style
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	margin: 25px;

	.header{
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		position: relative;
		display: block;
	}

	.card-content {
		padding: 16px;
		position: relative;
	}
	.card-actions {
		border-top: 1px solid #e8e8e8;
		padding: 5px 16px;
		position: relative;
	}
}


/****************************
// Services Card
*****************************/
#services{
	justify-content: center;
}
.service-card{
	max-width: 300px;
	border-radius: 2px;
	background-color: rgb(254,254,254);
	text-align: center;

	.header{
		.service-header{
			font-size: 24px;
			font-weight: 400;
			letter-spacing: -.012em;
			line-height: 32px;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			margin: 10px 0;
			display: block;
			color: $primary-background-color;

			.service-title {
				color: $primary-background-color;
			}

		}
	}
	.service-image {
    width: 100%;
    max-height: 200px;
    vertical-align: middle;
    border: 0;
  }
	&:hover{
		background-color: #dedede;
	}
}


/****************************
// Stories Card
*****************************/

.stories-card{
	border-radius: 2px;
	background-color: #e6e6e6;
	margin: 20px;
	padding: 0 10px;

	.header{
		padding: 0 10px;
		margin: 10px;
	}

	.story-image{
		background-size: cover;
		width: 350px;
		margin: 10px;
		padding: 10px;
	}

	.story-content{
		text-align: justify;
	}
}


/****************************
// About Us
*****************************/

.about-us, .contact-us{
	text-align: justify;
	padding: 30px;
}

.about-section-title, .contact-section-title{
	width: 100%;
}

.about-cards-display, .contact-cards-display{
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
.about-card{
	display: inline-block;
	padding: 0px;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	max-width: 500px;
	min-width: 350px;
	// margin: 20px;

	.tile-image{
		width: 170px;
		height: 150px;
		background-size: cover;
	}

	.tile-content{
		-webkit-flex: 1;
		 flex: 1;
		float: right;
		padding: 10px;
	}
}

.contact-card{
	display: inline-block;
	padding: 0px;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	// -webkit-flex-flow: row wrap;
	// flex-flow: row wrap;
	width: 340px;
	margin: 20px;
	background-color: #fefefe;

	.tile-image{
		width: 125px;
		height: 180px;
		background-size: cover;
	}

	.tile-content{
		-webkit-flex: 1;
		flex: 1;
		float: right;
		padding-left: 10px;
		// padding-right: 0px
	}
	h5{
		margin-top: 5px;
		margin-bottom: 5px;
		display: block;
		// font-size: 0.83em;
		// -webkit-margin-before: 1.67em;
  //   -webkit-margin-after: 1.67em;
  //   -webkit-margin-start: 0px;
  //   -webkit-margin-end: 0px;
    font-weight: bold;
	}
	p{
		margin-top: 2px;
		font-size: 90%;
		// display: block;
  	//   -webkit-margin-before: 1em;
  	//   -webkit-margin-after: 1em;
  	//   -webkit-margin-start: 0px;
  	//   -webkit-margin-end: 0px;
	}
	&:hover{
		background-color: #dedede;
	}
}

//mobile landing page

.mobile-landing-page{
	margin: 150px auto;
	height: 100vh;

	.mobile-list{
		display: flex;
		flex-direction: column;
		list-style-type: none;
	}
	.paper-item{
		// background-color: green;
		margin: 0 0 0 -50px;
		position: relative;
		width: 105vw;
		display: flex;
		flex-direction: row;
		align-items: center;
		vertical-align: middle;
		justify-contents: space-between;
		font-size: 16px;
		font-weight: 400;
		// line-height: 24px;
		height: 12.5vh;
		min-height: 50px;

		a {
			display: flex;
			align-items: center;
			vertical-align: middle;
			text-decoration: none;
			font-size: 110%;
			line-height: 100%;
			color: #333;
			cursor: auto;

			width: 100%;
			height: inherit;
			padding-left: 35px;
			// padding: 25px 15px 25px 23px;
			&:hover{
				background-color: $primary-background-color;
			}
			&:focus{
				background-color: $primary-background-color;
			}
			// .active{
			// 	background-color: $primary-background-color;
			// }
		}
		&:hover{
				background-color: $primary-background-color;
			}
	}
	.active{
		background-color: $primary-background-color;
		a{
			color: #fefefe;
		}
	}
	.mobile-footer{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
		a{
			// padding: 0;
			// flex-basis: 1;
			// margin: auto;
			// vertical-align: middle;
		}
		.left{
			display: flex;
			flex-direction: row;
		}
		.right{
			width: auto;
			padding-right: 35px;
		}
		.mobile-footer-icon{
			display: inline-block;
			color: $highlight-color;
			font-size: 30px;
			text-decoration: none;
		}
		.mobile-footer-text{
			font-size: 85%;
			padding: 6px;
			vertical-align: middle;
		}
	}

}
