--paper-font-common-base {
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
}


--paper-font-common-code {
  font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace;
  -webkit-font-smoothing: antialiased;
}


--paper-font-common-expensive-kerning {
  text-rendering: optimizeLegibility;
}


--paper-font-common-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* Material Font Styles */

--paper-font-display4 {
  @apply(--paper-font-common-base);
  @apply(--paper-font-common-nowrap);
  font-size: 112px;
  font-weight: 300;
  letter-spacing: -.044em;
  line-height: 120px;
}


--paper-font-display3 {
  @apply(--paper-font-common-base);
  @apply(--paper-font-common-nowrap);
  font-size: 56px;
  font-weight: 400;
  letter-spacing: -.026em;
  line-height: 60px;
}


--paper-font-display2 {
  @apply(--paper-font-common-base);
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -.018em;
  line-height: 48px;
}


--paper-font-display1 {
  @apply(--paper-font-common-base);
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -.01em;
  line-height: 40px;
}


--paper-font-headline {
  @apply(--paper-font-common-base);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -.012em;
  line-height: 32px;
}


--paper-font-title {
  @apply(--paper-font-common-base);
  @apply(--paper-font-common-nowrap);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}


--paper-font-subhead {
  @apply(--paper-font-common-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}


--paper-font-body2 {
  @apply(--paper-font-common-base);
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}


--paper-font-body1 {
  @apply(--paper-font-common-base);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}


--paper-font-caption {
  @apply(--paper-font-common-base);
  @apply(--paper-font-common-nowrap);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.011em;
  line-height: 20px;
}


--paper-font-menu {
  @apply(--paper-font-common-base);
  @apply(--paper-font-common-nowrap);
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
}


--paper-font-button {
  @apply(--paper-font-common-base);
  @apply(--paper-font-common-nowrap);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.018em;
  line-height: 24px;
  text-transform: uppercase;
}


--paper-font-code2 {
  @apply(--paper-font-common-code);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}


--paper-font-code1 {
  @apply(--paper-font-common-code);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
